PORT=3000

# PostgreSQL settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name

# Database Configuration
DATABASE_URL="postgres://postgres:password@localhost:5432/db_name"

# Better Auth Configuration
BETTER_AUTH_SECRET="secret"
BETTER_AUTH_URL="http://localhost:3000"

# Resend Configuration
RESEND_API_KEY=""

# Google OAuth Configuration
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Options: development, production, test
# Note: Set to 'production' to disable pino-pretty and output raw JSON logs.
NODE_ENV=development

# Logger Level
# Options: fatal, error, warn, info, debug, trace, silent
LOG_LEVEL=debug